name: Scan Table Output

on:
  push:
    branches:
      - main
      - develop

  pull_request:

jobs:
  trivy:
    name: Trivy
    runs-on: ubuntu-24.04
    permissions:
      contents: write # Required to checkout, read, and write repo files
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "github"
          output: "dependency-results.sbom.json"
          exit-code: "1"
          ignore-unfixed: true
          scanners: "vuln"
          severity: "HIGH,CRITICAL"
          github-pat: ${{ secrets.GH_PAT_TOKEN }} 