name: scan

on:
  push:
    branches:
      - main
      - develop

  pull_request:

jobs:
  trivy:
    name: Trivy
    runs-on: ubuntu-24.04
    permissions:
      contents: read # Required to checkout and read repo files
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan_type: "fs"
          scan_ref: "."
          format: "table"
          exit-code: "1"
          ignore-unfixed: true